/* Google fonts imports  */
/* Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @font-face {
    font-family: 'Helvetica';
    src: url('./fonts/helvetica/Helvetica-Bold.ttf');
  }
}

a{
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  padding-inline: 1rem;
  height: 80px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "MonoLisa";
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    padding-left: 0.4rem;
    text-transform: capitalize;
    font-family: "helvetica";
    font-weight: 400;
    opacity: 0.8;
    display: flex;
    gap: 1rem;
    align-items: center;

    a{
      color: #323232;
    }

    span{
      align-content: center;
      width: 35px;
      img{
        width: 100%;
      }
    }
  }

  ul {
    display: flex;
    gap: 22px;
    list-style: none;
  }

  li {
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    transition: 0.3s linear ease;
    padding-bottom: 4px;
    &:hover {
      border-color: #fbc000;
    }
  }

  a {
    font-weight: 400;
    text-decoration: none;
  }
}

.container {
  background: ghostwhite;
  height: calc(90vh - 80px);
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 0;
}

.left,
.right {
  font-family: "MonoLisa" !important;
  flex: 1;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 900;
    color: #323232;
    opacity: 0.7;
  }

  p {
    width: 60%;
    text-align: center;
    font-size: small;
    opacity: 0.9;
  }
}

.left {
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid grey;

  position: relative;

  .grass-art {
    position: absolute;
    right: 0;
    width: 270px;
    bottom: -5px;
  }

  img {
    mix-blend-mode: multiply;
    width: 100%;
  }
}
.right {
  border-left: 1px solid ghostwhite;
  border-bottom: 1px solid grey;
  position: relative;

  .not-robot {
    width: 200px;
    position: relative;

    p {
      left: 34px;
      top: 40px;
      font-size: 8.5px;
      font-family: "inter";
      position: absolute;
      color: white;
      text-shadow: 0px 0px white;
    }



    .checkbox {
      border: none;
      z-index: 999;
      display: block;
      position: absolute;
      top: 35px;
      left: 33px;
      height: 21px;
      width: 21px;
    }
  }
}

.absolute {
  pointer-events: none;
  position: absolute;
  bottom: 4.4%;
  left: 50%;
  transform: translateX(-50%);
}

.image {
  width: 100%;
}

img {
  width: 100%;
  mix-blend-mode: luminosity;
}

.marquee {
  overflow-x: hidden;
  max-width: 1280px;
  display: flex;
  gap: 1rem;
  margin: 4px auto;
  box-shadow: 0px 0px 10px 0px grey;
  padding: 16px 0 1rem 1rem;
  background: rgb(251, 192, 0);

  span{
    text-wrap: nowrap;
    display: flex;
    position: relative;
    gap: 1rem;
  }

  p {
    font-family: "gilroy";
    letter-spacing: 1px;
    font-weight: 100;
    flex-shrink: 0;
  }
}

/* theme toggle */

.theme-toggle {
  cursor: pointer;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 3px #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .sun {
    font-size: larger;
  }
  .switch {
    position: absolute;
    right: 4px;
    height: 23px;
    width: 23px;
    background: orchid;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
  }
}

.section {
  background: ghostwhite;
  min-height: 100vh;
  color: black;
}
/* project section */


.project-section{
  z-index: 999;
  padding: 3rem 1rem;
width: 100%;
max-width: 1280px;
margin: auto;

h1{
  color: #0BC0B8;
  font-size: 80px;
  margin: 1rem 0 3rem;
  font-family: 'Helvetica';
  text-shadow: 0px 0px 2px grey;
text-transform: uppercase;

 
}

  .proj-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
  }
  .card{
    display: block;
    text-decoration: none;
  }
  .image{
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0.8rem 0;
    padding-left: 1rem;
    background: #F8F8FF;
    box-shadow: 0px 0px 5px #c6c6d7;
  }
  img{
    
    mix-blend-mode: multiply;
  }
  p{
    font-weight: 400;
    font-size: medium;
    text-transform: capitalize;
    font-family: "Helvetica";
    margin: 0.8rem 0 0 0.4rem;
    text-align: center;
    color: #323232;
  }
}


/* Section 01 */

.section-one {
  max-width: 1280px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: -99;

  h1 {
    font-size: 150px;
    margin: 0;
    color: transparent;
    text-shadow: 2px 2px rgb(254, 99, 99);
  }
  h3 {
    transform: rotate(90deg);
    width: fit-content;
    margin: 0;
    color: transparent;
    font-size: 84px;
    text-shadow: 2px 2px rgb(254, 99, 99);
  }
  h4 {
    color: transparent;
    text-shadow: 2px 2px rgb(254, 99, 99);
    font-size: 74px;
    width: fit-content;
  }

 
  h2{
    color: #fbc000;
    font-size: 80px;
    z-index: 99;
    position: absolute;
    right: 5%;
    bottom: 12%;
    align-self: flex-end;
    text-shadow: 0px 0px 2px lightgrey;

  }

  .projects{
    padding: 8px;
    background: lightgoldenrodyellow;
    gap: 8px;
    z-index: 999;

  }

  .image-left, .image-right{
    overflow: hidden;
    position: absolute;
  }

  .image-left{
    left: 4rem;
    bottom: 4rem;
    max-width:250px;
  }

  .image-right{
    max-width: 620px;
    right: 2rem;
    top: 2rem;
    mix-blend-mode: luminosity;
  }
 
}

.section-two {
  padding: 2rem;
  z-index: -999;
  overflow: hidden;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  font-family:  "Helvetica";

  h1{
    color: lightgreen;
    font-weight: 600;
    opacity: 0.9;
    font-size: 80px;
    padding: 5px;
    text-shadow: 0px 0px 2px grey;
  }
  div.line{
    height: 2px ;
    max-width: 700px;
    margin: 0.5rem 5px;
    background: linear-gradient(to right , orangered , cyan);
  }

  .section-three-container{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-width: 900px;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .items {
    display: flex;
    gap: 2rem;

    .image{
      max-width: 50px;
      aspect-ratio: 1/1;
      mix-blend-mode: multiply;
    }
    .progress{
      overflow: hidden;
      position: relative;
      flex: 1;
      height: 45px;
      border: 2px solid #e7e7e7;
      /* border-radius: 50px; */
    }
    span{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
    
    .fill{
      /* border-radius: 50px; */
      height: 100%;
    }
  }


.next{
  width: 78%;
  background: linear-gradient(to left ,  purple , rgb(62, 61, 61) , coral );
}
.react{
  width: 67%;
  background: linear-gradient(to left ,  #5ED5FB , rgb(62, 61, 61) , coral );
}
.tailwind{
  width: 83%;
  background: linear-gradient(to left ,  #0BC0B8 , rgb(62, 61, 61) , coral );
}
.ts{
  width: 85%;
  background: linear-gradient(to left ,  #2C76C7 , rgb(62, 61, 61) , coral );
}
.js{
  width: 92%;
  background: linear-gradient(to left ,  #E9D54F , rgb(62, 61, 61) , coral );
}
.python{
  width: 85%;
  background: linear-gradient(to left ,    #3777AC , #E9D54F , coral );
}


}

.section-three{
  max-width: 1280px;
  margin: 0 auto;
}


hr{
  max-width: 1280px;
  margin: 0 auto;
  opacity: 0.3;
}



.section-contact{
  font-family: 'Helvetica';
  max-width: 1280px;
  margin: 0 auto 1rem;
  padding: 6rem 2rem 6rem;
  
  .contact-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socials{
    padding: 1rem 0.4rem;
background: yellow;width: 40%;

h1{
  font-weight: 600;
}
  }
  .social-links{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }

  span a:hover i{
    transition: 0.2s linear ;
    color: crimson;
    text-shadow: 0px 0px 10px black;
    transform: scale(1.2);
  }


  .form{
    background: white;
    padding: 2rem;
    box-shadow: 0px 0px 0px grey;

    h1{
      font-weight: 600;
      letter-spacing: 1px;
      margin: 2rem 0 1.5rem;
      font-size: 38px;
    }
    form{
      max-width: 550px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .field{
      display: flex;
      gap: 0.8rem;
      flex-direction: column;

    }
    label{
      color: #323232;
    }
    input,textarea,button{
      background: ghostwhite;
      box-shadow: 0px 0px 1px grey;
      outline: none;
      padding: 0.6rem 0.6rem;
      font-size: medium;
      border: none;

    }
    button{
      background: orange;
      width: fit-content;
      padding: 0.6rem 1rem;
    }
    flex: 1;
  }

}
.dark {
  background: #323232;
  color: white;


  .section-contact .form{
    background: #323232;
    color: ghostwhite;
  }
  .socials{
    background: #323232;
    color: ghostwhite;
  }
  .form{
    box-shadow: 0px 0px 3px grey;
  }

  hr{
    background: #2C76C7;
  }

.card .image{
  background: #dedce4;
  mix-blend-mode: normal;
  
}

.project-section{
  
  h1{
    color: lightsalmon;
  }}
.section,nav{
  background: #323232;
}

  .container {
    background: #323232;
    .right,
    .left {
      border: none;
      box-shadow: 0px 0px 1px grey;
    }
    h1 {
      color: #ddd;
    }
    p {
      color: rgb(171, 169, 169);
    }
  }

  .switch {
    left: 4px;
  }

  a {
    color: #ddd;
  }

  .marquee {
    background: grey;
    color: ghostwhite;
    font-family: "poppins";
    text-transform: capitalize;
    font-weight: 300;
    box-shadow: 0px 0px 2px white;
  }

  .grass-art img {
    mix-blend-mode: difference;
  }
 

  .section-one {
    h1,h3,h4{
      color: #0BC0B8;
      opacity: 0.6;
    }
    h2{
      opacity: 0.8;
      color: dodgerblue;
    }
    /* object-fit: cover; */
    background-position : center;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1748199625283-581bc1e9b1a8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    h1{
      font-size: 110px;
    }
  }

  .section-two{

    background: linear-gradient(to bottom , #323232 , #3777ac19);

    h1{
      color: #5ED5FB;
    }

    .items{
      z-index: 99;
    }

    .next-logo{
      background: white;
      border-radius: 50px;
    }
   
  }

  .fill {
    border-right: 3px solid ghostwhite;
  }

  .progress span{
    color: ghostwhite;
  }

  .proj-container a p{
    color: ghostwhite !important;
  }

}



@media screen and (max-width: 1225px){
  .section-one {
    .images-container{
      .image-left{
        display: none;
      }
      .image-right{
        margin-top:9rem;
        margin-right: 4rem;
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 1080px){

  .project-section{
  
    h1{
      padding-left: 1rem;
      color: yellow;
      background:  #2C76C7;
    }
    
    .proj-container{
      gap: 1.6rem;
      grid-template-columns: repeat(3,1fr);
    }
  }
  .section-three-container{
    margin-left: 1rem;
  }

  
}

@media screen and (max-width: 900px){
  .section-one{
    .image-right{
      top: 6rem;
      max-width: 200px;
    }
  }
  
  .section-contact{
    padding-top: 3rem;
  }
}


@media screen and (max-width: 800px){
  .project-section{

    .proj-container{
      gap: 1.6rem;
      grid-template-columns: repeat(2,1fr);
    } 
  }
  
  .project-section{
    padding: 4rem 1rem 2rem;
  }
  
  .contact-container{
    flex-direction: column-reverse;
    gap: 1rem;
    .socials{
      width: 100% ;
    }
    .form{
      width: 100% ;
    }
  }
}

@media screen and (max-width: 640px) {

  .section-contact{
    padding-top: 2.5rem;
  }

  
  .section-one{

    h1,h4{
      padding-left: 16px;
    }


    h3{
      padding-bottom: 2rem;
    }

    .image-right{
      top: 13rem;
      max-width: 100vw;
    }
  }

  .project-section{

    
    .proj-container{
      gap: 1.2rem;
      grid-template-columns: repeat(2,1fr);
      p{
        font-size: small;
        &:hover{
          scale: 1.02;
          transition: 0.1s linear;
        }
      }
    }
  }
  
  .section-two {

    .section-three-container{
      margin-left: 1rem;
    }

    h1{
      font-size: 70px;
    }

    .progress{
      height: 25px;
    }
    .image{
      width: 40px;
    }
  }

  nav {
    height: 60px;
    padding: 0 12px;
    h1 {
      font-size: 16px;
    }
    li,
    a {
      font-size: smaller;
    }
  }
  .absolute {
    bottom: 4%;
  }

  .section-three-container{
    padding: 0;
  }

  .container {
    height: calc(55vh - 60px);
  }

  .not-robot p {
    display: block;
    color: white;
  }
  .left,
  .right {
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 10px;
    }
  }

  #skills {
    h1 {
      font-size: 100px;
    }
    h3{
      font-size: 80px;
    }
    h2{
      font-size: 40px;
    }
  }

  .theme-toggle {
    height: 25px;
    width: 50px;
    box-shadow: 0px 0px 0px 3px #ddd;
    font-size: small;
    .switch {
      height: 20px;
      width: 20px;
    }
  }
}
